# Car Sales Price Prediction ANN

In this notebook, I will be using the [Car Sales Price Dataset](https://www.kaggle.com/datasets/yashpaloswal/ann-car-sales-price-prediction/data) from Kaggle.

In [84]:
import janitor
import pandas as pd
from tensorflow import keras
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder

In [85]:
df = pd.read_csv(r'..\dataset\car_purchasing.csv', encoding='latin1')
df.head()

,customer name,customer e-mail,country,gender,age,annual Salary,credit card debt,net worth,car purchase amount
0,Martina Avila,cubilia.Curae.Phasellus@quisaccumsanconvallis.edu,Bulgaria,0,41.851720,62812.09301,11609.380910,238961.2505,35321.45877
1,Harlan Barnes,eu.dolor@diam.co.uk,Belize,0,40.870623,66646.89292,9572.957136,530973.9078,45115.52566
2,Naomi Rodriquez,vulputate.mauris.sagittis@ametconsectetueradip...,Algeria,1,43.152897,53798.55112,11160.355060,638467.1773,42925.70921
3,Jade Cunningham,malesuada@dignissim.com,Cook Islands,1,58.271369,79370.03798,14426.164850,548599.0524,67422.36313
4,Cedric Leach,felis.ullamcorper.viverra@egetmollislectus.net,Brazil,1,57.313749,59729.15130,5358.712177,560304.0671,55915.46248

In [86]:
# cleaning the column names
df= janitor.clean_names(df=df)
df.head()

,customer_name,customer_e_mail,country,gender,age,annual_salary,credit_card_debt,net_worth,car_purchase_amount
0,Martina Avila,cubilia.Curae.Phasellus@quisaccumsanconvallis.edu,Bulgaria,0,41.851720,62812.09301,11609.380910,238961.2505,35321.45877
1,Harlan Barnes,eu.dolor@diam.co.uk,Belize,0,40.870623,66646.89292,9572.957136,530973.9078,45115.52566
2,Naomi Rodriquez,vulputate.mauris.sagittis@ametconsectetueradip...,Algeria,1,43.152897,53798.55112,11160.355060,638467.1773,42925.70921
3,Jade Cunningham,malesuada@dignissim.com,Cook Islands,1,58.271369,79370.03798,14426.164850,548599.0524,67422.36313
4,Cedric Leach,felis.ullamcorper.viverra@egetmollislectus.net,Brazil,1,57.313749,59729.15130,5358.712177,560304.0671,55915.46248

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   customer_name        500 non-null    object
 1   customer_e_mail      500 non-null    object
 2   country              500 non-null    object
 3   gender               500 non-null    int64
 4   age                  500 non-null    float64
 5   annual_salary        500 non-null    float64
 6   credit_card_debt     500 non-null    float64
 7   net_worth            500 non-null    float64
 8   car_purchase_amount  500 non-null    float64
dtypes: float64(5), int64(1), object(3)
memory usage: 35.3+ KB

In [88]:
df.describe()

,gender,age,annual_salary,credit_card_debt,net_worth,car_purchase_amount
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,0.506000,46.241674,62127.239608,9607.645049,431475.713625,44209.799218
std,0.500465,7.978862,11703.378228,3489.187973,173536.756340,10773.178744
min,0.000000,20.000000,20000.000000,100.000000,20000.000000,9000.000000
25%,0.000000,40.949969,54391.977195,7397.515792,299824.195900,37629.896040
50%,1.000000,46.049901,62915.497035,9655.035568,426750.120650,43997.783390
75%,1.000000,51.612263,70117.862005,11798.867487,557324.478725,51254.709517
max,1.000000,70.000000,100000.000000,20000.000000,1000000.000000,80000.000000

In [89]:
# setting the target variable
target_column = 'car_purchase_amount'

# setting up the independent (x) and dependent (y) variables

x = df.drop(columns=[target_column])
y = df[target_column]

In [90]:
# identifying categorical and numerical values
categorical_columns = x.select_dtypes('object').columns
numerical_columns = x.select_dtypes('number').columns

# preprocessing pipeline 
categorical_transformer = OneHotEncoder(handle_unknown='ignore')
numerical_transformer = StandardScaler()

preprocesser = ColumnTransformer([
    ("numerical", numerical_transformer, numerical_columns),
    ("categorical", categorical_transformer, categorical_columns),
])

x_transformed = preprocesser.fit_transform(x)

In [91]:
if y.dtype == 'object':
    label_encoder = LabelEncoder()
    y = label_encoder.fit_transform(y)
    output_dimension = len(label_encoder.classes_)
    activation = 'softmax'
    loss='sparse_categorical_cross_entropy'
else:
    output_dimension = 1
    activation ='linear'
    loss='mse'

In [92]:
# performing train test split
x_train, x_test, y_train, y_test = train_test_split(x_transformed, y, test_size=0.2, random_state=42)

In [93]:
# defining an ANN
model = keras.Sequential([
    keras.layers.Input(shape=(x_train.shape[1],)),
    keras.layers.Dense(64, activation='tanh'),
    keras.layers.Dense(32, activation='tanh'),
    keras.layers.Dense(16, activation='tanh'),
    keras.layers.Dense(output_dimension, activation=activation)
])

In [94]:
# compiling the model
model.compile(optimizer='adam', loss=loss, metrics=['accuracy'] if output_dimension > 1 else ['mae'])

In [95]:
# fitting the model
model.fit(x_train, y_train, epochs=50, batch_size=32, validation_data=(x_test, y_test))

Epoch 1/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 1s 22ms/step - loss: 2010272128.0000 - mae: 43537.3242 - val_loss: 2156833536.0000 - val_mae: 45264.3594
Epoch 2/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 2058818688.0000 - mae: 44065.7539 - val_loss: 2156766208.0000 - val_mae: 45263.6914
Epoch 3/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 2034702464.0000 - mae: 43695.6875 - val_loss: 2156652032.0000 - val_mae: 45262.5000
Epoch 4/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 2035306496.0000 - mae: 43849.4062 - val_loss: 2156524544.0000 - val_mae: 45261.0586
Epoch 5/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 2104984832.0000 - mae: 44539.1094 - val_loss: 2156433152.0000 - val_mae: 45259.9766
Epoch 6/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 2058938368.0000 - mae: 43954.3672 - val_loss: 2156377600.0000 - val_mae: 45259.3281
Epoch 7/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 2034153216.0000 - mae: 43744.4922 - val_loss: 2156338432.0000 - val_mae: 45258.8867
Epoch 8/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 2091168256.0000 - mae: 44476.7578 - val_loss: 2156306432.0000 - val_mae: 45258.5234
Epoch 9/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 2101293440.0000 - mae: 44536.4883 - val_loss: 2156277504.0000 - val_mae: 45258.2109
Epoch 10/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - loss: 1986205056.0000 - mae: 43169.5234 - val_loss: 2156250368.0000 - val_mae: 45257.9062
Epoch 11/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 2104612608.0000 - mae: 44466.9141 - val_loss: 2156224768.0000 - val_mae: 45257.6133
Epoch 12/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 2004301696.0000 - mae: 43518.7969 - val_loss: 2156199680.0000 - val_mae: 45257.3438
Epoch 13/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 2051787520.0000 - mae: 44071.2930 - val_loss: 2156175360.0000 - val_mae: 45257.0742
Epoch 14/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 2072132608.0000 - mae: 44344.0430 - val_loss: 2156151296.0000 - val_mae: 45256.8086
Epoch 15/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 2026569728.0000 - mae: 43780.4883 - val_loss: 2156128256.0000 - val_mae: 45256.5508
Epoch 16/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 2040894336.0000 - mae: 43900.9102 - val_loss: 2156104960.0000 - val_mae: 45256.2891
Epoch 17/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 2048038144.0000 - mae: 43883.5898 - val_loss: 2156082176.0000 - val_mae: 45256.0391
Epoch 18/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 2049600896.0000 - mae: 43926.9727 - val_loss: 2156059392.0000 - val_mae: 45255.7891
Epoch 19/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 2099387136.0000 - mae: 44486.3242 - val_loss: 2156036864.0000 - val_mae: 45255.5391
Epoch 20/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 2067193472.0000 - mae: 44235.2031 - val_loss: 2156014848.0000 - val_mae: 45255.3008
Epoch 21/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 2069852032.0000 - mae: 44234.0664 - val_loss: 2155993088.0000 - val_mae: 45255.0586
Epoch 22/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 2109421568.0000 - mae: 44562.2812 - val_loss: 2155971072.0000 - val_mae: 45254.8164
Epoch 23/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 2091742592.0000 - mae: 44471.7773 - val_loss: 2155949056.0000 - val_mae: 45254.5742
Epoch 24/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 2026133632.0000 - mae: 43819.3203 - val_loss: 2155927552.0000 - val_mae: 45254.3359
Epoch 25/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 2044936320.0000 - mae: 43922.1875 - val_loss: 2155906048.0000 - val_mae: 45254.0938
Epoch 26/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 2044787968.0000 - mae: 43863.1641 - val_loss: 2155884544.0000 - val_mae: 45253.8594
Epoch 27/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 1981251200.0000 - mae: 43210.5977 - val_loss: 2155863296.0000 - val_mae: 45253.6211
Epoch 28/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 2038575872.0000 - mae: 43794.5000 - val_loss: 2155841536.0000 - val_mae: 45253.3867
Epoch 29/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 2010412928.0000 - mae: 43628.9688 - val_loss: 2155820288.0000 - val_mae: 45253.1445
Epoch 30/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 2032820608.0000 - mae: 43875.9258 - val_loss: 2155798784.0000 - val_mae: 45252.9102
Epoch 31/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 2002443136.0000 - mae: 43525.8906 - val_loss: 2155778048.0000 - val_mae: 45252.6797
Epoch 32/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 2092977792.0000 - mae: 44475.2852 - val_loss: 2155756800.0000 - val_mae: 45252.4492
Epoch 33/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 2103450240.0000 - mae: 44475.0000 - val_loss: 2155735552.0000 - val_mae: 45252.2148
Epoch 34/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 2027037312.0000 - mae: 43657.5938 - val_loss: 2155714560.0000 - val_mae: 45251.9805
Epoch 35/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 2021030144.0000 - mae: 43727.3516 - val_loss: 2155693568.0000 - val_mae: 45251.7461
Epoch 36/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 2060081152.0000 - mae: 44082.2734 - val_loss: 2155672320.0000 - val_mae: 45251.5156
Epoch 37/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - loss: 2048507520.0000 - mae: 43840.2109 - val_loss: 2155651584.0000 - val_mae: 45251.2812
Epoch 38/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 2035158528.0000 - mae: 43765.6484 - val_loss: 2155630848.0000 - val_mae: 45251.0547
Epoch 39/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 2119495808.0000 - mae: 44575.0469 - val_loss: 2155609856.0000 - val_mae: 45250.8242
Epoch 40/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 2018668288.0000 - mae: 43618.9062 - val_loss: 2155589120.0000 - val_mae: 45250.5938
Epoch 41/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 2043697408.0000 - mae: 44003.4805 - val_loss: 2155568384.0000 - val_mae: 45250.3594
Epoch 42/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 2085266560.0000 - mae: 44313.2344 - val_loss: 2155547392.0000 - val_mae: 45250.1367
Epoch 43/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 2002368512.0000 - mae: 43433.9648 - val_loss: 2155526656.0000 - val_mae: 45249.9062
Epoch 44/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 2049952512.0000 - mae: 43923.3164 - val_loss: 2155505920.0000 - val_mae: 45249.6758
Epoch 45/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 2009633536.0000 - mae: 43443.3594 - val_loss: 2155485696.0000 - val_mae: 45249.4492
Epoch 46/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 1990701312.0000 - mae: 43245.2773 - val_loss: 2155464704.0000 - val_mae: 45249.2188
Epoch 47/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 2082016896.0000 - mae: 44306.9531 - val_loss: 2155444224.0000 - val_mae: 45248.9844
Epoch 48/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 2050601216.0000 - mae: 43914.0859 - val_loss: 2155423232.0000 - val_mae: 45248.7617
Epoch 49/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 2102968960.0000 - mae: 44595.6094 - val_loss: 2155402752.0000 - val_mae: 45248.5312
Epoch 50/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 2042484864.0000 - mae: 43925.6562 - val_loss: 2155382272.0000 - val_mae: 45248.3086

In [96]:
loss, metric = model.evaluate(x_test, y_test)
print("Test loss: {:.4f}, Metrics {:.4f}".format(loss, metric))

4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 2217590272.0000 - mae: 45903.9180
Test loss: 2155382272.0000, Metrics 45248.3086